# ------------------------------------------------------------------------------
# OS-specific files
# ------------------------------------------------------------------------------

Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------------------------------------------------------
# PlatformIO
# ------------------------------------------------------------------------------

include/
lib/
test/
Arduino/.gitignore
platformio.ini
*.pio/
*.vscode/

# ------------------------------------------------------------------------------
# Doc files
# ------------------------------------------------------------------------------

Images/
*.drawio
*.pdf
*.docx
*.tex
*.gz